body {
  background : #00305A;
  background : rgba(0, 48, 90, 1);
}

main {
  margin: 6% 20%;
  color: white;
  font-family: 'Yantramanav', sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 40px;
}

p {
  
}

a {
  color: inherit;
  text-decoration: none;
  padding: 5px 50px;
}

#git-button {
  padding: 5px 85px;
}

a:link {
}

a:visited {
}

a:hover {
}

a:active {
}

main {
}

.button {
  border: 1px solid rgba(76, 172, 255, 0.35);
  transition: 0.5s;
}

.button:hover {
  border: 1px solid rgba(0, 0, 0, 0);
  background-color: rgba(76, 172, 255, 0.35);
}
