body {
  background : #00305A;
  background : rgba(0, 48, 90, 1);
  overflow: hidden;
}

p {
  position: relative;
  width: 100%;
}

nav {
  position: relative;
  width: 100%;
}

ul {
  list-style: none;
  position: inherit;
  padding-left: 10%;
  padding-right: 10%;
}

li {
  display: inline-block;
  width: 40%;
}

a {
  display: block;
  width: 100%;
  height: 100%;
  position: inherit;
  color: inherit;
  text-decoration: none;
}

a:link {
}

a:visited {
}

a:hover {
}

a:active {
}

article {
  width: 80%;
  height: 100%;
  position: relative;
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 5%;
  color: white;
  font-family: 'Yantramanav', sans-serif;
  font-weight: 100;
  font-size: 4vw;
  text-align: center;
}

.button {
  border: .2vw solid rgba(76, 172, 255, 0.35);
}
