html {
  background-color: rgb(34, 34, 34);
  margin: 0px;
}
body {
  margin: 0px;
}
nav {
  top: 0;
  width: 100%;
  height: 60px;
  position: fixed;
  background-color: red;
}
ul {
  margin-left: 20px;
  margin-top: 80px;
  color: white;
  display: block;
  list-style: none;
  font-family: 'Anton', sans-serif;
  font-size: 60px;
}
a {
  text-decoration: none;
  color: white;
}
a:visited {
  color: white;
}
#about-me:hover {
  color: red;
  font-size: 80px;
}
#projects:hover {
  color: yellow;
  font-size: 80px;
}
#resume:hover {
  color: blue;
  font-size: 80px;
}
#contact-me:hover {
  color: green;
  font-size: 80px;
}
#about-me:active {
  color: red;
  font-size: 80px;
}
#projects:active {
  color: yellow;
  font-size: 80px;
}
#resume:active {
  color: blue;
  font-size: 80px;
}
#contact-me:active {
  color: green;
  font-size: 80px;
}
